*{ padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;

}

body{
  background: #E2E0E2;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
}